APP_NAME="Gimnasio Castillo Americano"
APP_ENV=production
APP_DEBUG=false
APP_URL=http://localhost/colegio_webv3

DB_HOST=localhost
DB_PORT=3306
DB_NAME=colegio_db
DB_USER=root
DB_PASS=
DB_CHARSET=utf8

SESSION_LIFETIME=7200
